<div class="section">
  <!-- container -->
  <div class="container">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let p of products">
          <div class="card my-2">
            <img [src]="p.image" alt="{{p.name}}" width="200px" height="300px" class="card-img-top" style="cursor: pointer;">
            <div class="card-header">
              <div class="card-title">
                <a [title]="p.name + ' details'" [routerLink]="['/category', p.category, p.id]">
                  {{ p.name.substr(0,30) | titlecase}} ...
                </a>
                <!-- <p>{{p.name | titlecase}}</p> -->
              </div>
            </div>
            <div class="card-body">

              <h6 *ngIf="p.description">{{p.description.substr(0,25)}} ...</h6>
              <p class="lead">{{p.price | currency: 'USD'}}</p>
            </div>

            <div class="row d-flex justify-content-center border-primary my-3">
              <div class="col-md-6">
                <button class="btn btn-outline-primary btn-sm btn-block">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
